name: CD Backend (Deploy to EC2)

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            set -e
            cd ~/apps/backend-spring-aws
            git pull
            mvn -q -DskipTests clean package
            sudo systemctl restart backend
            sudo systemctl status backend --no-pager
            curl -s http://localhost:8080/api/products | head -c 200 && echo
